[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[dev]
  command = "npm run dev"
  port = 5173
  targetPort = 5173
  publish = "dist"
  functions = "netlify/functions"
  functionsPort = 9999

[build.environment]
  NODE_VERSION = "18"